

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #476f95;
  padding: 0.8em 2em;
  box-shadow: 0 2px 8px rgba(249, 191, 191, 0.07);
}


.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 2em;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  padding: 0.3em 0.7em;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: background 0.21s, color 0.2s, box-shadow 0.2s;
}

.navbar-links li a:hover {
  background: rgba(255,255,255,0.16);
  color: #ffe066;
  box-shadow: 0 2px 12px 0 rgba(62,180,137,0.09);
}

.list1{
  float: left;
  margin-top: 3rem;
  margin-left: 2rem;
  font-family: garamond;
  width: 40%;
  height: 90%;
  padding: 1rem;
}
.list2{
  float: right;
  margin-top: 3rem;
  margin-right: 2rem;
  font-family: garamond;
  width: 40%;
  height: 90%;
  padding: 1rem;
}
.list1:hover{
  background-color: #F7F1DE;
}
.list2:hover{
  background-color: #F7F1DE;
}
footer {
  background: #444;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  clear: both;
  position: relative;
  margin-top: 10rem;
}
table{
  img{
    width:15%;
  }
}
