nav ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin:0px;
    overflow: hidden;
  }
  
  nav a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
  }
  
  nav a:hover{
  background-color: rgb(142, 141, 141);
  }
  
  nav li{
    float: left;
  }
  
  .navbar {
    background: rgb(170, 170, 170);
    color: rgb(0, 0, 0);
    padding: 10px;
}
body{
    background-color: antiquewhite;
}
