.navbar {
    background: rgb(170, 170, 170);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 2rem;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin-right: 10px;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
